<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.putlocker.upload"
    android:versionCode="11"
    android:versionName="1.5"
    android:installLocation="auto">
    
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
  	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:name=".PutlockerApplication"
        android:theme="@style/app_theme">
        <meta-data android:name="com.mobclix.APPLICATION_ID"
        android:value="e69425f3-bcb0-4e80-a133-85b9ee790b86"/>
    <activity 
        android:name="com.mobclix.android.sdk.MobclixBrowserActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".PutlockerLaunchpad"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter><action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="www.putlocker.com" android:scheme="http"></data>
			</intent-filter>
			 <intent-filter><action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="putlocker.com" android:scheme="http"></data>
			</intent-filter>
			<intent-filter><action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="www.sockshare.com" android:scheme="http"></data>
			</intent-filter>
			<intent-filter><action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="sockshare.com" android:scheme="http"></data>
			</intent-filter>
			 <intent-filter>
            	<action android:name="android.intent.action.SEND"/>
            	<category android:name="android.intent.category.DEFAULT"/>
            	<data android:mimeType="image/*"/>
        	</intent-filter>
        	 <intent-filter>
            	<action android:name="android.intent.action.SEND"/>
            	<category android:name="android.intent.category.DEFAULT"/>
            	<data android:mimeType="video/*"/>
       		 </intent-filter>
       		 <intent-filter>
            	<action android:name="android.intent.action.SEND"/>
            	<category android:name="android.intent.category.DEFAULT"/>
            	<data android:mimeType="application/*"/>
       		 </intent-filter>
       		 <intent-filter>
		        <action android:name="kik.request" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
		     <intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:scheme="kik-com.putlocker.upload"/>
		    </intent-filter>
            </activity>
        <activity
            android:name=".PutlockerUploadActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            >
            
        </activity>
        <activity 
            android:name=".FileSelectActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            ></activity>
         <activity 
            android:name=".PutlockerHome"
            android:configChanges="keyboardHidden|orientation"
            ></activity>
         <activity 
            android:name=".RegisterActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
             ></activity>
          <activity 
            android:name=".PutlockerTransferList"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            ></activity>
         <activity 
             android:name=".PutlockerShareItem"
             android:launchMode="singleTop"
             android:configChanges="keyboardHidden|orientation"
             ></activity>
         <activity android:name="com.tapfortap.TapForTapActivity"/>
         <!--  Services -->
         <service android:name=".DownloadService"
             android:enabled="true"
        />
    </application>

</manifest>